*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EDF3F8;
}
.container{
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header-link{
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    text-align: left;
    color: #36536B;
    text-decoration: none;
}
.header-button{
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    letter-spacing: -0.11538461595773697px;
    text-align: left;
    color: #FBFCFE;
    background-color: #BA4270;
    border-radius: 24px;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-right: 24.5px;
    padding-left: 26.5px;
    border: none;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-box{
    display: flex;
    gap: 64px;
    align-items: center;
}
.header{
    padding-top: 40px;
    padding-bottom: 87px;
}
.our-img{
    width: 100%;
}
.hero-title{
    font-family: DM Serif Display;
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.4307692348957062px;
    text-align: left;
    color: #36536B;
    margin-left: 95px;
    margin-bottom: 51px;
    width: 730px;
}
.hero-title-2{
    font-family: DM Serif Display;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.2461538463830948px;
    text-align: left;
    color: #36536B;
    
}
.hero-text{
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #6C8294;
    margin-bottom: 56px;
    width: 635px;
}
.hero-wrapper{
    width: 920px;
    justify-content: space-between;
    margin-left: 95px;
    display: flex;
    
}
.our-text{
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #36536B;
}
.our-title{
    font-family: DM Serif Display;
    font-size: 56px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.4307692348957062px;
    text-align: left;
    color: #BA4270;
}
.our-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 72px;
}

.our-title-2{
    font-family: DM Serif Display;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.2461538463830948px;
    text-align: left;
    color: #36536B;
}
.our-text-2{
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #6C8294;
    margin-bottom: 56px;
    width: 635px;
}
.our-wrapper-2{
    width: 920px;
    justify-content: space-between;
    margin-left: 95px;
    display: flex;
}
.our{
    padding-top: 72px;
}
.ready-title{
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.3692307770252228px;
    text-align: left;
    color: #36536B;
}
.ready-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 60px;
}

.ready-button{
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    letter-spacing: -0.11538461595773697px;
    text-align: left;
    color: #FBFCFE;
    border-radius: 24px;
    background-color: #BA4270;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-right: 24.5px;
    padding-left: 26.5px;
    margin-left: -100px;
    border: none;
}

.ready-input{
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    text-align: left;
    color: #36536B;
    padding-bottom: 14px;
    padding-top: 16px;
    padding-left: 27px;
    padding-right: 103px;
    border-radius: 24px;
    border: none;
}
.footer {
    background-color: #1B262F;
    padding-top: 31px;
    padding-bottom: 31px;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.footer-box{
    display: flex;
    align-items: center;
    gap: 64px;
}
.footer-link{
    text-decoration: none;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    text-align: left;
    color: #FBFCFE;
    
}
.footer-box-2{
    display: flex;
    gap: 24px;
}
@media (max-width:1000px) {
    .hero-wrapper{
        display: flex;
        width: 689px;
        gap: 60px;
        justify-content: center;
        
    }
    .hero-text{
        width: 100%;
    }
    .our-wrapper-2{
        display: flex;
        width: 689px;
        gap: 60px;
        justify-content: center;
    }
    .our-text{
        width: 100%;
    }
    .ready-wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .hero-title{
        text-align: center;
    }
}
@media (max-width:710px){
    .hero-title-2{
        text-align: center;
    }
    .hero-text{
        text-align: center;
    }
    .hero-wrapper{
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }
    .our-wrapper-2{
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }
    .our-text-2{
        text-align: center;
    }
    .our-title-2{
        text-align: center;
    }
}
@media (max-width:610px){
    .header-wrapper{
        flex-direction: column;
    }
    .header-box{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
    .hero-title{
        text-align: center;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .footer-box{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .our-wrapper{
        flex-direction: column;
        gap: 60px;
    }
    .ready-button{
        margin: 0;
    }
    .ready-form{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width:385px){
    .hero-title{
        font-family: DM Serif Display;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.2461538463830948px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #36536B;
        margin: 0;
        margin-bottom: 60px;
    }
    .hero-title-2{
        font-family: DM Serif Display;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.1846153885126114px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #36536B;
    }
    .our-img{
        height: 200px;
    }
}
